<head>
  <title>Help | Ruby on Rails Tutorial Sample App</title>
</head>
<body>
  <h1>Help</h1>
  <p>
    Get help at 
    <a href="http://www.railstutorial.org/help">Rails Tutorial Help
    </a>
  </p>
</body>





