<div class='jumbotron center'>
  <h1>Welcome to the Sample App</h1>
  
  <h2>
    this is the homepage for
    <a href='http://www.railstutorial.org/'>Ruby on Rails Tutorial</a>
    sample application.
  </h2>
  <%= link_to "Sign up now!", '#', class: 'btn btn-primary btn-lg'%>
</div>
  <%= link_to image_tag("rails.png", alt: 'Rails Logo'), 'http://rubyonrails.org/'%>




