<div class='container'>
      <header class='navbar navbar-fixed-top navbar-inverse'>

        <%= link_to "sample app", root_path, id: "logo" %>
        <nav>
          <ul class='nav navbar-nav navbar-right'>
            <li><%= link_to "home",   root_path %></li>
            <li><%= link_to "help",   help_path %></li>
            <li><%= link_to "signin", '#'%></li>
          </ul>
        </nav>
      <header>
    </div>